/*###################### START BACKGROUND STUFF #############################*/
*{
    font: 14pt Arial,Helvetica,sans-serif;
}
html{ /*this sets the background color and gradient */
    background-color: #127DD0;
    background: linear-gradient(#127DD0, #FFC106); /* Standard syntax */
}
body{
    max-width: 80%;
    margin: auto;
    background-color: white;
    padding: .5em;
    box-shadow: 10px 10px 5px #53525A;
}

h2{
    color: #FF4D06;
    text-align: center;
    margin: 0em auto 1em auto;
    text-decoration: underline;
    font-size: 26pt;
}
/*###################### END BACKGROUND STUFF #############################*/

/*###################### START NAVIGATION #############################*/
nav{
    margin-top: 0.2em;
    margin-bottom: 1em;
    text-align: center;
    padding: 1px 0px 1px 0px;
}
nav ol{
    padding: 0px 0px 3px 0px;
    margin: 0em;
    border-bottom: solid 1px #FFCD37;
}
nav ol li{
    display: inline-block;
    font-family: "sans-serif", Times, serif;
    font-size: 14pt;    
    padding: 0em 2em 0em 2em;
    text-align: center;
    color: #FFC106;
    background-color: #FFCD37;
    margin: 0em 1px 0em 1px;
}
/*###################### END NAVIGATION #############################*/

/*###################### START CSS FOR HEADER #############################*/

header h1{
    margin: auto;
    margin-top: -0.75em;
    margin-bottom: .3em;
    text-align: center;
    font-size: 3.5em;
    padding: 0.4em 0em 0.4em 0em;
    background-color: #0666B0;
    color: #60A7DD;
    border-top: solid;
}

/* CSS for Dropdown Menu */
/* Code inspired from w3schools */

.dropdown{
    margin: auto;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 5em;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 0.4em;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
 
.navigation_icon{
    float: left;
    padding-left: 1.5em;
    position: relative;
    top: 5em;
    left: -7.5em;
    font-weight: bold;
}
 
.motor{
    float: left;
    position: relative;
    top: 15.5em;
    left: 9em;
    font-size: xx-large;
    font-weight: bolder;
}
 
.menufig{
    padding-left: 1.5em;
    float: left;
    position: relative;
    left: -8em;
    top: 4em;
    font-weight: bolder;
    color: orange;
    text-transform: uppercase;
}
 
td a{
    text-decoration: none;
}
 
header{
    background-color: #0666B0;
}
.logo{
        margin: auto 20em auto 27em;
}
.dropdown-content a:hover{
    transform: scale(1.2);
}
/* end code for dropdown menu */

/*###################### END CSS FOR HEADER #############################*/

/*###################### START MEDIA QUERY STUFF ##########################*/

@media screen and (max-width: 1900px){
    .logo{
        margin: -6.9em 20em auto 20em;
        max-width: 50%;
    }
}
@media screen and (max-width: 1820px){
    .logo{
        margin: -6.9em 20em auto 13em;
        max-width: 45%;
    }
}
@media screen and (max-width: 1860px){
    .logo{
        margin: auto 20em auto 24em;
        max-width: 45%;
    }
}
@media screen and (max-width: 1440px){
    .logo{
        margin: auto 20em auto 19em;
        max-width: 45%;
    }
}
@media screen and (max-width: 1370px){
    .logo{
        margin: auto 20em auto 17em;
        max-width: 45%;
    }
}
@media screen and (max-width: 1280px){
    .logo{
        margin: -6.9em 20em auto 20em;
        max-width: 45%;
    }
}
@media screen and (max-width: 1024px){
    .logo{
        margin: -6.9em 20em auto 17em;
        max-width: 45%;
    }
}
@media screen and (max-width: 620px){
    .logo{
        margin: -6.77em 20em auto 10em;
        max-width: 45%;
    }
}
@media screen and (max-width: 350px){
     header h1{
        display: none;
    }
    .logo{
        position: relative;
        top: -9em;
        left: -6em;
    }
    .menuicon{
        margin: 7em 0em 0em 3em;
        border-top-style: solid;
        border-top-color: #EE6F2D;
        border-left-style: solid;
        border-left-color: #EE6F2D;
        max-width: 35%;
    }   
}
/*###################### END MEDIA QUERY STUFF ##########################*/

/*###################### START HOME #############################*/
.gunner{
    float: left;
    text-align: center;
}
.gunner_circle{
    border-radius: 100px;
}
.ollie_circle{
    border-radius: 100px;
    
}
.ollie{
    float: right;
    text-align: center;
}
#info{
    border-collapse: collapse;
    margin: 1.2em;
}
#photos tbody img{
    border-radius: 70%;
}
.simple td{
    border-right: solid 2px #53525A;
    text-align: center;
    width: 500px;
    
}
.smallround{
    border-radius: 45%;
}
.smallround:hover{
    transform: scale(1.2)
}


/*###################### END HOME #############################*/

/*###################### START CSS FOR PHOTOS #############################*/
#photos table{
    max-width: 70%;
    margin: auto;
}
#photos figure{
    border-radius: 25px;
    border: 5px solid;
    border-color: #FFC106;
    text-align: center;
    background-color: cornsilk;
}
#breeds-detail figure{
    border-radius: 25px;
    border: 5px solid;
    border-color: #FFC106;
    text-align: center;
    margin: auto;
    background-color: cornsilk;
}
#photos figcaption{
    border-top: solid #CB3A00;
    padding: 20px;
    margin: auto;
    text-align: center;
    color: #CB3A00;
}
#breeds-detail figcaption{
    border-top: solid #CB3A00;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: 32pt;
    color: #CB3A00;
}
#photos table img{
    padding: 1.5em;
}
#breeds-detail table img{
    padding: 1.5em;
}
#photos table{
    margin: auto;
}
#breeds-detail table{
    max-width: 70%;
    margin: auto;
}

.dropdown #menuicon{
    float: left;
    cursor: pointer;
    padding: 1.9em 1em .7em 1.5em;
    border-right: solid #EE6F2D;
    border-bottom: solid #EE6F2D;
}
/*###################### END CSS FOR PHOTOS #############################*/

/*###################### START CSS FOR ABOUT US #############################*/
.jon, .chris, .nnk{
    float: left;
    border-radius: 45%;
    margin-right: 0.8em;
}
.coders{
    float: left;
    max-width: 15%;
    border-radius: 40%;
    text-align: center;
}
#aboutus figcaption{
    padding-left: 1.5em;
    position: relative;
    top: 17em;
    left: -10em;
}
.cts, .ke,.nn{
    margin: 0em 0em 0em 15em;
    
}
/*###################### END CSS FOR ABOUT US #############################*/

/*###################### START CSS FOR FOOTER #############################*/

footer ul{
    list-style-type: none 
}
footer{
    text-align: center;
    border-top: solid #CB3A00;
    border-bottom: solid #CB3A00;
    color: #CB3A00;
    background-color: #FF7E4A;
    padding: .5em;
}
#footer{
    text-align: center;
    padding: 10px;
    width: 100%;
}
footer a{
    color: #ffebcd;
}
footer a:hover{
    color: #60A7DD;
    background-color: #0666B0;
}

/*###################### END CSS FOR FOOTER #############################*/

/*######################### RELISH PAGE #################################*/
.drchase{
    border-radius: 0.9em;
    display: block;
    margin: auto;
    
}
#relish h3{
    text-align: center;   
    font-weight: bolder;
}
.george{
    float: right;
    max-width: 12%;
    border-radius: 80%;
}
/*######################### END RELISH PAGE #################################*/

/*######################### RESCUE PAGE #################################*/
.butchie{
    border-radius: 0.9em;
    display: block;
    margin: auto;
}
#rescue h3{
    text-align: center;
    font-weight: bolder;
}
.lola{
    float: right;
    max-width: 12%;
    border-radius: 80%;
}
/*######################### END RESCUE PAGE #################################*/

/*######################### REHABILITATE PAGE #################################*/
.chrisp2{
    border-radius: 0.9em;
    display: block;
    margin: auto;
}
#rehabilitate h3{
    text-align: center;
    font-weight: bolder;
}
.lace{
    float: right;
    max-width: 12%;
    border-radius: 80%;
}
/*#################### START OF FORM PAGE ####################################*/
#main{
    background-color: cornsilk;
}
.contact, .choice, .rescue{
    width: 24.5em;
    margin: 0em auto 0em auto;
    border: solid 2px lightblue;
    background-color:rgba(173,216,230, 0.4);
    box-shadow: 2px 2px 0px 1px #ffebcd;
}
.buttons{
    width: 9.2em;
    margin: 0em auto 0.6em auto;
    text-align: center;
}
.mistake{
    background-color: rgba(250, 0, 0, 0.5);
    color: black;
}
#txtEmail{
    margin: 0em 0em 0em 2.2em;
}
